.drawer-wrapper {
  width: 30%;
  z-index: 100;
  background-color: #0B3954;
  transition: transform 150ms ease-out;
}

.drawer {list-style-type: none;}


.drawer-button-close {font-size: 2.3rem;}
.drawer-button {vertical-align: middle; text-shadow: 2px 2px 4px #3e3e44;}
.drawer-button-close {background-color: #EE7925;}

.drawer-button:hover {background-color: #DED6D6;}
.drawer-button:focus, .drawer-button-close:focus, .drawer-button:hover {outline: none;}

.drawer li {height: 7rem;}
.drawer-button {font-size: 2rem;}
@media (max-width: 576px) {
  .drawer li {height: 6rem;}
  .drawer-button {font-size: 1.3rem;}
}